/* default */
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

body::after { 
	position:absolute; 
	width:0; 
	height:0; 
	overflow:hidden; 
	z-index:-1; 
	content:
  		url(../assets/images/group-photo.jpg)
  		url(../assets/images/just-logo.svg);
}

.divider {
	width: 50%;
	height: 2.5px;
	position: relative;
	background-color: #ffffff;
	margin: 1rem 0;
}

.title {
	font-weight: 600;
	color: #d39035;
	text-align: center;
}

.italic {
	font-style: italic;
}

.dark-tan {
	color: #d39035;
}

.red {
	color: #7b1c1e;
}

.invisible {
	opacity: 0;
}

.avoid-wrap {
	display: inline-block;
}

/* navbar */
nav {
	padding: 0 5%;
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	background-color:#ffffff;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25);
}

nav a {
	text-decoration: none;
}

nav ul {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

nav li > a {
	font-weight: 600;
	color: #000000;
	position: relative;
}

nav li > a::before {
	content: "";
	position: absolute;
	width: 0;
	height: 2.5px;
	bottom: -2.5px;
	left: 0;
	background-color: #d39035;
	visibility: hidden;
	transition: all .3s ease-in-out;
}

nav li > a:hover::before, .underline a::before {
	visibility: visible;
	width: 100%;
}

nav button {
	display: none;
	border: none; 
	cursor: pointer; 
	outline: none; 
	background-color: transparent;
	padding: .5rem;
	font-size: 1.25rem;
}

/* navbar logo */
#logo {
	display: flex;
	align-items: center;
}

#logo img {
	width: 3rem;
	height: 3rem;
}

#logo h1 {
	font: 800 1.5rem 'Raleway', sans-serif;
	letter-spacing: .1rem;
	margin: 0 .5rem;
}

#logo span:first-of-type {
	color: #7b1c1e;
}

#logo span:last-of-type {
	color: #d39035;
}

/* landing page */
#landing-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

#landing-page::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;  
	z-index: -1;
	background: radial-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), 
	url(../assets/images/group-photo.jpg) no-repeat center;
	background-size: cover;
}

#landing-page > * {
	opacity: 0;
}

#landing-page h1 {
	font: 800 3rem 'Raleway', sans-serif;
	letter-spacing: .1rem;
	text-align: center;
}

#landing-page p {
	width: 45%;
	text-align: center;
	line-height: 1.25rem;
}

#landing-page a {
	color: #ffffff;
	text-decoration: none;
	padding: .5rem 1rem;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 1rem;
}

#landing-page a > * {
	margin: 0.5rem 0;
}

#landing-page .pattern {
	width: 55vw;
	height: 55vw;
	border: 1px solid #ffffff;
	position: absolute;
	transform: rotate(45deg);
	z-index: -1;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* about */
#about {
	position: relative;
	z-index: -1;
	background: url(../assets/images/star-background.svg) fixed, #f0e7d5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about > div {
	position: relative;
	width: 70%;
	text-align: center;	
	margin: 5rem 0;
	padding: 3rem;
	background-color: #ffffff;
	border: 3px #d49f55 solid;
}

#about h1 {
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

#about p {
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.5rem;
}

#about .pattern {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px #d49f55 solid;
	background-color: rgba(255, 255, 255, .5);
	z-index: -1;
	top: 1rem;
	left: 1rem;
}

/* e-board */
#e-board {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background:url(../assets/images/wave-background.svg) no-repeat bottom, #181818;
	background-size: cover;
	padding: 2rem;
}

#e-board > h1 {
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 2rem;
	padding-bottom: .5rem;
	color: #ffffff;
	border-bottom: 3px #7b1c1e solid;
	text-align: center;
}

#e-board .col {
	display: flex;
	flex-direction: column;
}

#e-board .row {
	display: flex;
	justify-content: center;
}

#e-board .profile {
	margin: 0 .5rem;
	opacity: 0;
}

#e-board .image {
	width: 12.5vw;
	height: 12.5vw;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .75);
}

#e-board .desc {
	width: 100%;
	margin: 1rem 0 1.25rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

#e-board .desc p:not(.title) {
	font-weight: 300;
	line-height: 1.5rem;
}

/* contact */
#contact {
	width: 100%;
	display: flex;
}

#contact > div {
	width: 33.33%;
	height: auto;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact > div:first-of-type {
	background-color: #e9ddc3;
}

#contact > div:first-of-type p, #contact > div:last-of-type p {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1rem;
	text-align: center;
}

#contact form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 55%;
}

#contact input {
	border: none;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 5px;
	padding: .5rem;
	margin: .25rem;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25);
}

#contact input:focus, a {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

#contact input[type='text'] {
	width: 100%;
	text-align: center;
}

#contact input[type='submit'] {
	width: 50%;
	margin-top: .5rem;
	background-color: rgba(0, 0, 0, .75);
	color: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}

#contact > div:last-of-type {
	background-color: #271f0e;
}

#contact > div:last-of-type p {
	color: #ffffff;
}

#contact > div:last-of-type a {
	color: #ffffff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #ffffff;
	color: #271f0e;
	margin-right: 1rem;
}

#contact svg {
	width: 1rem;
	height: 1rem;
}

#contact > div > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* roof background */
#roof {
	width: 33.33%;
	height: 0;
	padding-top: 12.5%;
	background: url(../assets/images/roof-background.svg) no-repeat bottom;
	background-size: contain;
	margin: 0 auto;
	position: relative;
	top: 1px;
}

/* gallery */
#gallery {
	background-color: #cdaf74;
	padding: 0 !important;
	justify-content: flex-start !important;
}

#gallery > * {
	color: #3e3116;
	position: relative;
	bottom: 1rem;
}

#gallery h1 {
	font-size: 1.75rem;
	font-weight: 600;
	padding-bottom: .5rem;
	border-bottom: 3px #3e3116 solid;
}

#gallery p {
	width: 70%;
	text-align: center;
	margin: 2rem 0;
	line-height: 1.25rem;
}

#gallery a {
	text-decoration: none;
	line-height: 1.5rem;
	background-color: rgba(0, 0, 0, .75);
	color: #ffffff;
	border-radius: 5px;
	padding: .5rem 2rem;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25);
}

/* events */
#events {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem;
}

#events h1 {
	font-weight: 600;
	font-size: 1.75rem;
}

#events > h1 {
	padding-bottom: .5rem;
	border-bottom: 3px #d39035 solid;
	margin-bottom: 2rem;
}

#events > div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#fall {
	padding-bottom: 1rem;
}

#fall > div, #spring > div {
	width: 100%;
	display: flex;
	justify-content: center;
}

#fall > div:first-of-type, #spring > div:first-of-type {
	padding-bottom: 1rem;
}

#fall > div:first-of-type > div, #spring > div:first-of-type > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	border: 3px #d49f55 solid;
}

#fall > div:first-of-type > div {
	width: 40%;
	margin-right: 2rem;
}

#fall > div:first-of-type > div > *, #spring > div:first-of-type > div > * {
	padding: 1rem 0;
}

#fall > div:first-of-type > img{
	width: 60%;
}

#fall > div:last-of-type, #spring > div:last-of-type {
	padding-top: 1rem;
}

#fall > div:last-of-type > img {
	width: 50%;
}

#fall > div:last-of-type > img:first-of-type {
	padding-right: 1rem;
}

#fall > div:last-of-type > img:last-of-type {
	padding-left: 1rem;
}

#spring {
	padding-top: 1rem;
}

#spring > div:first-of-type > iframe {
	width: 64vw;
	height: 36vw;
}

#spring > div:first-of-type > div {
	width: 36vw; 
	margin-left: 2rem;
}

#spring > div:last-of-type > iframe {
	width: 52%;
	padding-left: 1rem;
}

#spring > div:last-of-type > img {
	width: 48%;
	padding-right: 1rem;
}

/* footer */
footer {
	width: 100%;
	height: 1.5rem;
	background-color: #202020;
	color: #ffffff;
	text-align: center;
	font: 400 .75rem 'Raleway', sans-serif;
	line-height: 1.5rem;
}

/* container */
#container {
	padding: 5rem 1rem 1rem 1rem;
	display: flex;
	flex-wrap: wrap;
}

#sentinel {
	width: 100%;
	height: 1px;
}

.section {
	flex: 33.33%;
	max-width: 33.33%;
	padding: 0 .375rem;
}

.section img {
	margin: .375rem 0;
	vertical-align: middle;
	width: 100%;
	opacity: 0;
}

/* media queries */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
	/* nav */
	nav ul {
		width: 50%;
	}
	/* landing-page */
	#landing-page .pattern {
		width: 60vw;
		height: 60vw;
	}
	#fall > div:first-of-type > div, #spring > div:first-of-type > div {
		padding: 1rem 1.25rem;
	}	
	#fall > div:first-of-type > div > *, #spring > div:first-of-type > div > * {
		padding: .5rem 0;
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
	/* nav */
	nav ul {
		width: 55%;
	}
	/* landing-page */
	#landing-page h1 {
		font-size: 2rem;
	}
	#landing-page p {
		font-size: .75rem;
		line-height: 1rem;
	}
	/* e-board */
	#e-board .image {
		width: 20vw;
		height: 20vw;
	}
	/* events */
	#events {
		padding: 1rem;
	}
	#events h1 {
		font-size: 1.25rem;
	}
	#events > h1 {
		font-size: 1.75rem;
		margin-top: 1rem;
	}
	#events p {
		font-size: .75rem;
	}
	#fall {
		padding-bottom: .5rem;
	}
	#fall > div:first-of-type > div, #spring > div:first-of-type > div {
		padding: .75rem 1rem;
	}
	#fall > div:first-of-type > div > *, #spring > div:first-of-type > div > * {
		padding: .25rem 0;
	}
	#fall > div:first-of-type, #spring > div:first-of-type {
		padding-bottom: .5rem;
	}
	#fall > div:first-of-type > div {
		margin-right: 1rem;
	}
	#fall > div:last-of-type > img:first-of-type {
		padding-right: .5rem;
	}
	#fall > div:last-of-type > img:last-of-type {
		padding-left: .5rem;
	}
	#fall > div:last-of-type, #spring > div:last-of-type {
		padding-top: .5rem;
	}
	#spring {
		padding-top: .5rem;
	}
	#spring > div:first-of-type > div {
		margin-left: 1rem;
	}
	#spring > div:last-of-type > iframe {
		padding-left: .5rem;
	}
	#spring > div:last-of-type > img {
		padding-right: .5rem;
	}
	/* gallery */
	#gallery h1 {
		font-size: 1.25rem;
	}
	#gallery p {
		margin: 1rem 0;
		font-size: .75rem;
	}
	/* contact */
	#contact > div {
		padding: .5rem 0;
	}
	#contact form {
		width: 80%;
	}
	#contact > div:first-of-type p, #contact > div:last-of-type p {
		font-size: 1.25rem;
	}
	#contact input, #contact > div:last-of-type a {
		font-size: .75rem;
		margin: .25rem;
	}
}

/* Small devices (landscape phones, less than 768px) */
/* TODO: reduce h1s */
@media (max-width: 767.98px) {
	/* nav */
	nav ul {
		width: 60%;
	} 
	/* gallery */
	.section {
		flex: 100%;
		max-width: 100%;
	}
	/* landing-page */
	#landing-page .pattern {
		display: none;
	}
	#landing-page h1 {
		font-size: 1.5rem;
	}
	#landing-page p {
		width: 60%;
	}
	#landing-page a {
		font-size: .75rem;
	}
	/* about */
	#about h1 {
		font-size: 1.25rem;
	}
	#about p {
		font-size: 1rem;
		line-height: 1.25rem;
	}
	/* e-board */
	#e-board h1 {
		font-size: 1.25rem;
	}
	/* events */
	#events {
		padding-bottom: 2rem;
	}
	#events h1 {
		font-size: 1.25rem;
	}
	#events p {
		font-size: 1rem;
	}
	#fall > div:first-of-type > div, #spring > div:first-of-type > div {
		padding: 1.25rem;
	}
	#fall > div:first-of-type > div > *, #spring > div:first-of-type > div > * {
		padding: .5rem 0;
	}
	#fall > div, #spring > div {
		flex-direction: column;
		align-items: center;
	}
	#fall > div:first-of-type > div {
		width: 90%;
		margin: 0 0 1rem 0;
	}
	#fall > div:first-of-type > img{
		width: 90%;
	}
	#fall > div:last-of-type > img {
		width: 90%;
		margin: 0 0 1rem 0;
	}
	#fall > div:last-of-type > img:first-of-type,#fall > div:last-of-type > img:last-of-type {
		padding: 0;
	}
	#spring > div:first-of-type {
		flex-direction: column-reverse;
	}
	#spring > div:first-of-type > div {
		width: 90%; 
		margin: 0 0 1rem 0;
	}
	#spring > div:last-of-type > img {
		width: 90%;
		margin: 0 0 1rem 0;
	}
	#spring > div:last-of-type > * {
		padding: 0 !important;
	}
	#spring iframe {
		width: 90% !important;
	}
	/* roof background*/
	#roof {
		width: 100%;
		padding-top: 37.5%;
	}
	/* contact */
	#contact {
		flex-direction: column;
	}
	#contact > div {
		width: 100%;
		padding: 1rem 0;
	}
	#contact > div:not(#gallery) {
		order: 2;
	}
	#contact input, #contact > div:last-of-type a {
		font-size: 1rem;
	}
	/* gallery */
	#gallery {
		order: 1;
	}
	#gallery h1 {
		font-size: 1.5rem;
	}
	#gallery p {
		font-size: 1rem;
	}
	#gallery > * {
		bottom: 4rem;
	}
}

@media (max-width: 575.98px) { 
	/* nav */
	nav ul {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(255, 255, 255, .95);
		margin-top: 4rem;
	}
	nav li {
		margin: .75rem 0;
		position: relative;
		bottom: 4rem;
	}
	nav button {
		display: block;
	}
	nav li > a {
		font-size: 1.25rem;
	}
	/* about */
	#about > div {
		width: 80%;
		margin: 4rem 0;
		padding: 2rem;
	}
	/* e-board */
	#e-board .row {
		flex-direction: column;
	}
	#e-board .image {
		width: 60vw;
		height: 60vw;
	}
	/* gallery */
	#gallery > * {
		bottom: 2rem;
	}
}
